<!DOCTYPE html>
<html>
  <head>
    <title>Huddle</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png'%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.typekit.net/elk1yzg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
